.siren-sdk-card-common-container{
  display: grid;
  gap: 16px;
}

.siren-sdk-card-container {
  grid-template-columns: max-content auto max-content;
}

.siren-sdk-card-title{
  line-height: 20px;
  margin-bottom: 4px;
}
.siren-sdk-card-subtitle{
  line-height: 20px;
  margin-bottom: 6px;
}
.siren-sdk-card-date-label{
  line-height: 16px;
}

.siren-sdk-hide-avatar-card-container {
  grid-template-columns: auto max-content;
}

.siren-sdk-delete-button {
  cursor: pointer;
}

.siren-sdk-card-text-break {
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.siren-sdk-card-thumbnail-container{
  width: 106%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.siren-sdk-card-thumbnail-error{
  height: 26px;
}

.siren-sdk-card-thumbnail-image {
  border-radius: 6px;
}

.siren-sdk-card-thumbnail-with-image {
  height: 100%; 
  object-fit: cover;
  width: 100%;
}

.siren-sdk-card-date-container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 5px;
  align-items: center;
}

.siren-sdk-card-content-wrapper {
  display: grid;
  grid-template-rows: auto;
}
.siren-sdk-card-msg-body{
  margin-bottom: 10px;
  line-height: 20px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.siren-sdk-delete-animation {
  animation: fadeOut 0.2s ease forwards;
}
